/* Estilos Generales */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f2f5;
    color: #333;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 600px;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.user-list, .message-list, .category-list {
    list-style-type: none;
    padding: 0;
}
.message-list{
    width: 200px;
    height: 200px; 
    overflow-y: auto; 
    overflow-x: hidden; 
}
.user-item, .message-item, .category-item {
    margin-bottom: 10px;
}

.button1 {
    background-color: #4f8de4; 
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
}

.button1:hover {
    background-color: #3169bd;
}




.button2 {
    background-color: #d27c0b; /* Green */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
}

.button2:hover {
    background-color: #ac6400;
}

.button3 {
    background-color: #bb2cb9; /* Green */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
}

.button3:hover {
    background-color: #8c2689;
}

.button4 {
    background-color: #16a849; /* Green */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
}

.button4:hover {
    background-color: #178e4a;
}

.button5 {
    background-color: #af4c91; /* Green */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
}

.button5:hover {
    background-color: #a04559;
}

.button6 {
    background-color: #864caf; /* Green */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
}

.button6:hover {
    background-color: #8b45a0;
}

.button7 {
    background-color: #ffad2a; /* Green */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
}

.button7:hover {
    background-color: #bc7e1a;
}

textarea {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
    border-radius: 4px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size: 16px;
    resize: vertical;
}

input[type="datetime-local"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
}

.message-content {
    margin-bottom: 20px;
}

.category-title {
    color: #333;
    margin: 20px 0 10px;
}

.message-details {
    font-size: 14px;
    color: #666;
}

.logout-container {
    margin-top: 20px;
    text-align: right;
}

.section{
    display:flex;
    justify-content:space-between;
}